<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flask-fire 🔥</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="{{url_for('main.index')}}" class="{{'active' if request.path == '/'}}">Home</a></li>
			<li><a href="{{url_for('main.profile')}}" class="{{'active' if request.path == '/profile'}}">Profile</a></li>
			<li><a href="{{url_for('main.signup')}}" class="{{'active' if request.path == '/signup'}}">Inscription</a></li>
		</ul>
	</div>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>