@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
